<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ title or metadata.title }}</title>
    
    <meta name="keywords" content="{{ metadata.keywords }}">
    <meta name="description" content="{{ description or metadata.description }}">

    <link rel="stylesheet" type="text/css" href="{{ '/assets/main.css' | url }}" />

    <link rel="shortcut icon" href="/img/favicon.ico">
    <link rel="apple-touch-icon" href="/img/apple-touch-icon.png">

    <!-- taken from here: https://www.matuzo.at/blog/html-boilerplate/ -->
    <meta property="og:title" content="{{ title or metadata.title }}">
    <meta property="og:description" content="{{ description or metadata.description }}">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ page.url | url }}">

    <meta name="theme-color" content="#1284C6">
  </head>
  <body>
    {% block main %}{% endblock %}
  </body>
</html>
