<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ title or metadata.title }}</title>
    
    <meta name="keywords" content="{{ metadata.keywords }}">
    <meta name="description" content="{{ description or metadata.description }}">

    <link rel="stylesheet" type="text/css" href="{{ '/css/main.min.css' | url }}" />

    <link rel="shortcut icon" href="favicon.ico">

    <meta property="og:title" content="{{ title or metadata.title }}">
    <meta property="og:description" content="{{ description or metadata.description }}">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ page.url | url }}">

    <meta name="theme-color" content="#1284C6">

    <script src="{{ '/js/main.min.js' | url }}" type="text/javascript"></script>

  </head>
  <body>
    <div id="wrap">
      {% include "header.njk" %}
      <section id="main">
        {% block main %}{% endblock %}
      </section>
      {% include "footer.njk" %}
    </div>

    <script src="{{ '/js/imagesloaded.min.js' | url }}" type="text/javascript"></script>
    <script src="{{ 'js/masonry.min.js' | url }}" type="text/javascript"></script>
  </body>
</html>
