<footer>
	<div class="column-wrap clear">
		<div class="column-small">
			<p>
				<strong>Updated in 2021</strong>
			</p>
		</div>
		<div class="column-small">
			<p>
				Hornstr. 18<br>
				10963 Berlin<br>
				Germany
			</p>
		</div>
		<div class="column-small">
			<p>
				<script type="text/javascript">

					(function()
					{
						var a = '49 176',
						b = '6489 7631',
						c = 'ananitz',
						d = 'gmail',
						e = 'com';

						document.write('+' + a + ' ' + b + '<br><a href="mailto:' + c + '@' + d + '.' + e + '">' + c + '@' + d + '.' + e + '</a>');
					})();

				</script>
			</p>
		</div>
	</div>
</footer>