---
eleventyNavigation:
  key: About
  order: 2
---

{% extends "base.njk" %}
{% block main %}

<div id="about">
	<div class="column-wrap clear">
		<div class="column-small">
			<img src="{{ '/img/photo.jpeg' | url }}">
		</div>
		<div class="column-large">
			<p>
				I was born October 12, 1988 in Belo Horizonte, Brazil. My personality is defined by a multicultural background — I hold both the German and the Brazilian citizenship and am currently living in Berlin, Germany, being fluent in English, German, Portuguese (mother tongue) as well as basic knowledge of Spanish. I have good communication and mediation skills, with the ability of converting thoughts into visual representations. Above all, I am always open for new challenges, being flexible to travel and live abroad.<br><br>
				The projects presented are samples of work developed since the early years in the Architecture School in Belo Horizonte, Brazil, to the Master's Degree in the Bauhaus-University Weimar, Germany, focused in MediaArchitecture. I am particularly interested in the cross-section between media, architecture and art, as well as ephemeral architectural spaces and how they respond to history, politics and technology. My focus is on designing experiences and ways to document them, with a mindset in re-thinking the practice of architecture and cities of the future.<br><br>
				Ana Paula Nitzsche
			</p>
			<p>
				Master of Science in MediaArchitecture<br>
				Diploma in Architecture and Urbanism
			</p>
		</div>
	</div>
</div>
{% endblock %}
