---
eleventyNavigation:
  key: About
  order: 2
---

{% extends "base.njk" %}
{% block main %}

<div id="about">
	<div class="column-wrap clear">
		<div class="column-small">
			<img src="{{ about.image | url }}">
		</div>
		<div class="column-large">
			<p>{{ about.body | markdownify | safe }}</p>
		</div>
	</div>
</div>
{% endblock %}
