---
eleventyNavigation:
  key: CV
  order: 3
---

{% extends "base.njk" %}
{% block main %}

<div id="cv">
	{% for list in cv.lists %}
	<div class="column-wrap clear">
		<div class="column-small">
		</div>
		<div class="column-large">
			<h2>
				{{ list.title }}
			</h2>
		</div>
	</div>

	{% for item in list.items %}
	<div class="column-wrap clear">
		<div class="column-small">
			<p>
				{{ item.date }}
			</p>
		</div>
		<div class="column-large">
			<h3>
				{{ item.title }}
			</h3>
			<p>
				{{ item.description | markdownify | safe }}
			</p>
		</div>
	</div>
	{% endfor %}
	{% endfor %}

	{% for skill in cv.skills %}
	<div class="column-wrap clear">
		<div class="column-small">
		</div>
		<div class="column-large">
			<h2>
				{{ skill.title }}
			</h2>
		</div>
	</div>
	<div class="column-wrap clear">
		<div class="column-small">
		</div>
		<div class="column-large">
			<p>
				{{ skill.description | markdownify | safe }}
			</p>
		</div>
	</div>
	{% endfor %}
</div>

{% endblock %}
