---
eleventyNavigation:
  key: Home
  order: 1
---

{% extends "base.njk" %}
{% block main %}

<h1 style="font-size:150px">🐛 Ana</h1>
<h2>🐛 Paula</h2>
<h3>🐛 Nitzsche</h3>
<h4>🐛 Cool</h4>

{% endblock %}
